
<!DOCTYPE html>
<html lang="en-GB">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
  
    <!--================================ CSS ================================-->
    <link href="css/ainsly.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lobster" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" media="screen">
</head>
<body>
<section class="hero is-primary is-fullheight bgg">
   
    <main class="hero-body" style="background:transparent;" >
        <div class="container has-text-centered">
            <img class="animated jello" src="https://cdn.discordapp.com/avatars/307154840914493451/803911ab6c3183088c686df5912a541a.png" style="border-radius:100px;border:5px solid white" alt="SmileOnTheTiles" width="128">
            <h1 class="animated infinite pulse title is-2" style="font-family:'Bowlby One SC', cursive;" >Ainsley <span class="tag bd-rainbow is-black animated bounce">BOT</span></h1>
            <div class="pannel">
                    <p class="panel-tabs is-hidden-desktop">
                            <a><%= usrs %></a>
                            <a>Users</a>
                            <a><%= channels %></a>
                            <a>channels</a>
                            <a><%= servers %></a>
                            <a>guilds</a>
                          </p>
                          </div>
            <hr>
            <h2 class="subtitle is-3" style="font-family:'Lobster', cursive;">a fun discord bot on the 1st dev stage ,to implement whats not done till now ! </h2>
            <hr>
            <div class="hero-buttons">
                <a href="http://bit.do/ainsley-invite" class="animated pulse infinite button is-primary is-inverted is-medium"> <span>invite</span> <span class="icon"><i class="fa fa-sign-out"></i></span></a>
                <a class="button animated pulse is-medium is-primary is-inverted" onclick="document.getElementById('cmds').style.display = document.getElementById('cmds').style.display == '-webkit-box' ? 'none' : '-webkit-box'" ><span>commands</span> <span class="icon"><i class="fa fa-cog"></i></span></a> 
                <a href="https://discord.gg/WTRrhNK" class="animated pulse button is-medium is-primary is-inverted"> <span>Join Server</span> <span class="icon"><i class="fa fa-sign-in"></i></span></a></div>
        </div>
    </main>
    <div class="hero-foot is-hidden-mobile">
        <div class="container">
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title"><%= usrs %></p>
                        <p class="heading">USERS</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title"><%= channels %></p>
                        <p class="heading">#CHANNELS</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title"><%= servers %></p>
                        <p class="heading">SERVERS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> 
</section>

<div class="modal" id="cmds">
    <div class="modal-background"></div>
    <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">BOT Commands</p>
              <button class="delete" aria-label="close" onclick="document.getElementById('cmds').style.display = document.getElementById('cmds').style.display == 'none' ? '-webkit-box' : 'none'"></button>
            </header>
            <section class="modal-card-body">
                    <nav class="panel">
                            <p class="panel-heading">
                              FUN COMMMANDS
                            </p>
                            <a class="panel-block ">
                              <span class="panel-icon">
                                <i class="fa fa-question"></i>
                              </span>
                              • who [know more abt the bot]
                            </a>
                            <a class="panel-block ">
                                    <span class="panel-icon">
                                      <i class="fa fa-signal"></i>
                                    </span>
                                    • ping (api) [ping of the api with the bot]
                                  </a>
                            <a class="panel-block ">
                                <span class="panel-icon">
                                    <i class="fa fa-file"></i>
                                </span>
                                • lyrics [pass a song name with this command and get lyrics of that particular song]
                            </a>
                            <a class="panel-block ">
                                    <span class="panel-icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    • avatar [pastes a link of your avatar]
                                </a>
                            <a class="panel-block ">
                                    <span class="panel-icon">
                                        <i class="fa fa-adjust"></i>
                                    </span>
                                    • toss [a random toss to take decisions]
                                </a>
                            <a class="panel-block ">
                                    <span class="panel-icon">
                                        <i class="fa fa-vcard-o"></i>
                                    </span>
                                    • dis
                                </a>
                                <a class="panel-block ">
                                        <span class="panel-icon">
                                            <i class="fa fa-asterisk"></i>
                                        </span>
                                        • Porn
                                    </a>
                            <p class="panel-heading">
                                    Music COMMMANDS
                                    </p>
                                <a class="panel-block ">
                                        <span class="panel-icon">
                                            <i class="fa fa-sign-in"></i>
                                        </span>
                                        • join - Joins the VC
                                    </a>
                                <a class="panel-block ">
                                        <span class="panel-icon">
                                            <i class="fa fa-sign-out"></i>
                                        </span>
                                        • leave - Leaves the VC
                                    </a>
                                    <a class="panel-block">
                                            <span class="panel-icon">
                                                <i class="fa fa-play"></i>
                                            </span>
                                            • play [url] - Plays the specified YouTube URL in VC
                                        </a>
                                        </nav>
                                    
            </section>
            <footer class="modal-card-foot">
                <p class="tag subtitle is-warning">Use Prefix ~ with following commands [new commands coming soon.]</p>
            </footer>
          </div>
        </div>
    </div>
</div>

</body>
</html>
